:root {
  --primary: #b6895b;
  --bg: #010101;
}

#kategori {
  padding: 1rem 7%;
  flex: auto;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
}

#kategori label {
  padding: 0.5rem;
}

.hero .content form div a {
  background-color: var(--primary);
  padding: 0.2rem;
  color: #fff;
}
