<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toko Buku</title>

    <!-- fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts.google.com -->

    <!-- feathericons.com -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feathericons.com -->

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Toko<span>Buku</span></a>
      <div class="navbar-extra">
        <a href="#" id="search-button"><i data-feather="search"></i></a>
        <a href="#" id="shopping-cart-button"
          ><i data-feather="shopping-cart"></i
        ></a>
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
      <div class="navbar-nav">
        <a href="transaksi.html" id="transaksi">transaksi</a>
        <a href="mytransaksi.html" id="myTransaksi">myTransaksi</a>
        <a href="users.html" id="pegawai">users</a>
        <a href="produk.html" id="produk">produk</a>
        <a href="profil.html" id="username"></a>
        <a href="#" onclick="logout()">logout</a>
      </div>

      <!-- Search Form start -->
      <div class="search-form">
        <input type="search" id="search-box" placeholder="search here..." />
        <label for="search-box"
          ><i data-feather="search" onclick="caribuku()"></i
        ></label>
      </div>
      <!-- Search Form end -->

      <!-- Shopping Cart start -->
      <div class="shopping-cart">
        <button type="button" class="btn" onclick="beli()">Beli</button>
        <h5 id="totalharga"></h5>
        <div class="list-item" id="itemlist"></div>
      </div>
      <!-- Shopping Cart end -->
    </nav>
    <!-- navbar -->

    <!-- Hero section -->
    <section class="hero" id="home">
      <main class="content">
        <h1>Mari membaca sebuah <span>Buku</span></h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, vel.
        </p>
      </main>
    </section>
    <!-- Hero section -->

    <!-- Products Section start -->
    <section class="products" id="products">
      <h2><span>Produk Unggulan</span> Kami</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo unde eum,
        ab fuga possimus iste.
      </p>
      <div class="row" id="allproduk"></div>
    </section>
    <!-- Products Section end -->

    <!-- Footer start -->
    <footer>
      <div class="socials">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>

      <div class="credit">
        <p>Created by <a href="">kelompok2</a>. | &copy; 2024.</p>
      </div>
    </footer>
    <!-- Footer end -->

    <script src="js/navbar.js"></script>
    <script src="js/cari.js"></script>
  </body>
</html>
