<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toko Buku</title>

    <!-- fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts.google.com -->

    <!-- feathericons.com -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feathericons.com -->

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Toko<span>Buku</span></a>
      <div class="navbar-extra">
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
      <div class="navbar-nav">
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
      </div>
    </nav>
    <!-- navbar -->

    <!-- Hero section -->
    <section class="hero" id="home">
      <main class="content">
        <h1>Mari membaca sebuah <span>Buku</span></h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, vel.
        </p>
        <a href="login.html" class="cta">Login</a>
        <a href="register.html" class="cta">Register</a>
      </main>
    </section>
    <!-- Hero section -->

    <!-- About Section start -->
    <section id="about" class="about">
      <h2><span>Tentang</span> Kami</h2>

      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.0854929121415!2d112.78186827588104!3d-7.344296372249371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fba48250fc25%3A0xe030cbbc9482d4fd!2sUniversitas%20Islam%20Negeri%20Sunan%20Ampel%20Kampus%202!5e0!3m2!1sid!2sid!4v1710261603403!5m2!1sid!2sid"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>
        <div class="content">
          <h3>Kenapa memilih kopi kami?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            ducimus voluptatum dolor. Et, voluptatum accusantium!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic
            deserunt iure amet facilis eos a quo cum voluptates molestias nihil.
          </p>
          <h3>Kenapa memilih kopi kami?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            ducimus voluptatum dolor. Et, voluptatum accusantium!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic
            deserunt iure amet facilis eos a quo cum voluptates molestias nihil.
          </p>
          <h3>Kenapa memilih kopi kami?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            ducimus voluptatum dolor. Et, voluptatum accusantium!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic
            deserunt iure amet facilis eos a quo cum voluptates molestias nihil.
          </p>
        </div>
      </div>
    </section>
    <!-- About Section end -->

    <!-- Footer start -->
    <footer>
      <div class="socials">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>

      <div class="credit">
        <p>Created by <a href="">kelompok2</a>. | &copy; 2024.</p>
      </div>
    </footer>
    <!-- Footer end -->

    <script src="js/script.js"></script>
  </body>
</html>
