<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toko Buku</title>

    <!-- fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts.google.com -->

    <!-- feathericons.com -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feathericons.com -->

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/detail.css" />
    <link rel="stylesheet" href="css/users.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <a href="home.html" class="navbar-logo">Toko<span>Buku</span></a>
      <div class="navbar-extra">
        <a href="#" id="search-button"><i data-feather="search"></i></a>
        <a href="#" id="shopping-cart-button"
          ><i data-feather="shopping-cart"></i
        ></a>
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
      <div class="navbar-nav">
        <a href="transaksi.html" id="transaksi">transaksi</a>
        <a href="#" id="myTransaksi">myTransaksi</a>
        <a href="users.html" id="pegawai">users</a>
        <a href="produk.html" id="produk">produk</a>
        <a href="profil.html" id="username"></a>
        <a href="#" onclick="logout()">logout</a>
      </div>

      <!-- Search Form start -->
      <div class="search-form">
        <input type="search" id="search-box" placeholder="search here..." />
        <label for="search-box"
          ><i data-feather="search" onclick="caribuku()"></i
        ></label>
      </div>
      <!-- Search Form end -->

      <!-- Shopping Cart start -->
      <div class="shopping-cart">
        <button type="button" class="btn" onclick="beli()">Beli</button>
        <h5 id="totalharga"></h5>
        <div class="list-item" id="itemlist"></div>
      </div>
      <!-- Shopping Cart end -->
    </nav>
    <!-- navbar -->

    <!-- Hero section -->
    <section class="hero" id="home">
      <main class="content">
        <h1>Mari membaca sebuah <span>Buku</span></h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, vel.
        </p>
      </main>
    </section>
    <!-- Hero section -->

    <section class="about" id="reting">
      <h2><span>Transaksi</span> Toko Buku</h2>
    </section>

    <!-- Footer start -->
    <footer>
      <div class="socials">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>

      <div class="credit">
        <p>Created by <a href="">kelompok2</a>. | &copy; 2024.</p>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- Modal Box add reting start -->
    <div class="modal-reting" id="add-reting-modal">
      <div class="modal-container-reting">
        <a href="#" class="close-icon" onclick="retingclose()"
          ><i data-feather="x"></i
        ></a>
        <h1>Detail <span>Transaksi</span></h1>
        <form action="">
          <div class="input-group">
            <label for="id_trans">id transaksi</label>
            <input
              type="text"
              placeholder="id_trans"
              id="id_trans"
              name="id_trans"
              required
              readonly
            />
          </div>
          <div class="input-group">
            <label for="total">total</label>
            <input
              type="text"
              placeholder="total"
              id="total"
              name="total"
              required
              readonly
            />
          </div>
          <div class="input-group">
            <label for="tanggal">tanggal</label>
            <input
              type="text"
              placeholder="tanggal"
              id="tanggal"
              name="tanggal"
              required
              readonly
            />
          </div>
          <div class="input-group">
            <label for="waktu">waktu</label>
            <input
              type="text"
              placeholder="waktu"
              id="waktu"
              name="waktu"
              required
              readonly
            />
          </div>
          <div class="input-group">
            <label for="id_user">id user</label>
            <input
              type="text"
              placeholder="id_user"
              id="id_user"
              name="id_user"
              required
              readonly
            />
          </div>
          <div class="input-group">
            <label for="status">status</label>
            <input
              type="text"
              placeholder="status"
              id="status"
              name="status"
              required
              readonly
            />
          </div>
        </form>
        <div class="about" id="detailTrans">
          <h2><span>Detail</span> Transaksi</h2>
        </div>
      </div>
    </div>
    <!-- Modal Box add reting end -->

    <script src="js/navbar.js"></script>
    <script src="js/mytransaksi.js"></script>
  </body>
</html>
